#about {

  h3,
  h1 {
    color: white;
    font-family: "Cairo", sans-serif;
    font-size: 2rem;

  }

  p {
    font-family: "Harmattan", sans-serif;
    color: rgba(255, 255, 255, 0.717);
    font-size: 1.2rem;
  }

  .about-img {
    position: absolute;
    background-color: black;
    height: 100%;
    width: 100%;
    background-image: url("/about-img.jpg");
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    filter: brightness(0.3);
  }
}


@media (max-width: 640px) {
  #about p {
    font-size: 1rem;
  }

  #about h1,
  h3 {
    font-size: 1.5rem;
  }

  #about .about-img {
    background-image: url("/mobile.jpg");
  }
}