#footer {
  background-image: url("/medad.jpg");

  .topSection {
    color: white;
    font-size: 22px;
    font-family: "Cairo";
  }
}


@media (max-width: 640px) {
  #footer .topSection {
    font-size: 16px;

  }

  #footer p {
    font-size: 10px;
  }

}