main {

  height: 100dvh;
  /*114 is the header height + margin*/
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("/medad.jpg");
}

.hero-container {
  margin-top: 114px;
  display: flex;
  width: 90%;
  justify-content: center;
  height: 75%;
}

.hero-wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: end;
}

.hero-wrapper>* {
  margin: 0;
}

.hero-wrapper h2 {
  color: #F9FAFB;
  font-size: 73px;
  font-family: "Harmattan", sans-serif;
  font-weight: 400;
}

.hero-wrapper p {
  color: #abaeb2;
  font-size: 20px;
  font-family: "Cairo", sans-serif;
}

.hero-wrapper h6 {
  margin-bottom: 10px;
  color: #b2b5b9;
  font-size: 20px;
  font-family: "Cairo", sans-serif;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: end;
  font-family: "Cairo", sans-serif;
}

.hero-button {
  height: 40px;
  padding: 0 15px;
  font-family: "Cairo", sans-serif;
  border-radius: 0.5rem;
  border: none;
  background-color: rgb(52, 52, 240);
  color: white;
  font-weight: 700;
  cursor: pointer;
}


.imageContainer {
  width: 50%;
  margin: auto;
}

.imageContainer img {

  width: 100%;
}

.parnters {
  gap: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.parnters img {
  aspect-ratio: 1;
  height: 150px;
}

@media (max-width: 600px) {
  .parnters {
    gap: 6px;
    height: 50%;
  }

  .parnters img {
    height: 60px;
  }

  .imageContainer {
    display: none;
  }

  .hero-wrapper {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .hero-container {
    height: 150vh;
  }

  .hero-wrapper {
    margin-top: 43px;
  }

  .hero-wrapper h2 {
    font-size: 43px;
  }

  .hero-wrapper h6 {
    font-size: 16px;
  }

}