.gallery {
  margin-top: 100px;
  display: flex;
  justify-content: space-evenly;



  .logos-slide {

    animation: 17s slide infinite linear;

    img {
      aspect-ratio: 1;
      min-width: 217px;
    }
  }
}





@keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-700%);
  }
}