@import "../app.scss";


.services {


  .right-side {
    text-align: center;

    h2 {
      color: white;
      font-family: "Harmattan", sans-serif;
      font-weight: 700;
      font-size: 3.8rem;
    }

    p {
      color: white;
      font-family: "Cairo", sans-serif;
      margin-bottom: 23px;
    }
  }

  .left-side {
    height: 100%;
    padding: 12px;
  }
}