@import "../app.scss";


.services {
  background-image: url("/medad.jpg");

  .right-side {
    text-align: center;
    text-align: center;

    h2 {
      color: white;
      font-family: "Harmattan", sans-serif;
      font-weight: 700;
      font-size: 3.8rem;
    }

    @media (max-width: 640px) {
      h2 {
        font-size: 2rem;
      }

      p {
        font-size: 12px;
        word-wrap: break-word;
      }
    }

    p {
      color: white;
      font-family: "Cairo", sans-serif;
      margin-bottom: 23px;
    }
  }

  .left-side {
    height: 100%;
    padding: 12px;
  }
}